@import "tailwindcss";

/* 
   Variables Globales
 */
:root {
  /* Colores base */
  --color-text: #272727;
  --color-text-secondary: #8d918d;

  --color-green: #3b8668;
  --color-green-dark: #00593b;
  --color-light-green: #edf5f2;

  --color-nav-bg: #f9faf9;
  --color-gray: #dfe1df;

  /* Gradientes */
  --gradient-green: linear-gradient(#00593b, #096c4b);
  --gradient-blue: linear-gradient(#0b102e, #121741);
  --gradient-black: linear-gradient(#1f1f1f, #272727);

  /* Colores generales */
  --background: #ffffff;
  --foreground: var(--color-text);
}

/* Modo oscuro (opcional) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos base */
* {
  box-sizing: border-box;
  scrollbar-width: none;
  position: relative;
}
button {
  cursor: pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Utilidades globales opcionales */
.text-secondary {
  color: var(--color-text-secondary);
}

.bg-nav {
  background-color: var(--color-nav-bg);
  color: var(--color-text);
}

.bg-green-gradient {
  background: var(--gradient-green);
}

.bg-blue-gradient {
  background: var(--gradient-blue);
}

.bg-black-gradient {
  background: var(--gradient-black);
}

.highlight-item {
  background-color: var(--color-light-green);
  color: var(--color-green);
}

.highlight-item img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(20%) saturate(977%)
    hue-rotate(104deg) brightness(95%) contrast(89%);
}

/*estilo anterior con hover*/
.highlight-item-hover:hover {
  background-color: var(--color-light-green);
  color: var(--color-green);
}

.highlight-item-hover:hover img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(20%) saturate(977%)
    hue-rotate(104deg) brightness(95%) contrast(89%);
}

.bank-card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
